<!-- This is client -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Socket.io</title>
    </head>
    <body>
        <div id="chat">
            <ul id="message">
                <li v-for="message in messages">{{ message }}</li>
            </ul>
            <form v-on:submit.prevent="send">
                <input v-model="message">
                <button>Send</button>
            </form>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>

        <script>
            var socket = io();

            new Vue({
                el: '#chat',

                data: {
                    messages: [],
                    message: ''
                },

                mounted() {
                  socket.on('chat.message', function (message) {
                      this.messages.push(message);
                  }.bind(this));
              },

                methods: {
                  send (e) {
                      socket.emit('chat.message', this.message);
                      this.message = '';
                      e.preventDefault()
                  }
                }
            });
        </script>
    </body>
</html>
